<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What can I cook?</title>
</head>
<body>
<form action="/verifyUser" method= "post">
<h3>Введите имя/логин: </h3>
<p><input type="text" placeholder="Имя/логин" maxlength="25" size="35" name="name"></p>
<h3>Введите пароль: </h3>
<p><input type="password" placeholder="Введите пароль" maxlength="25" size="35" name="password"></p>
<input type="submit" value="Войти">
</form>
<form action="/welcomeToWCIC">
    <p><input type="submit" value="Назад"></p>
</form>
</body>
</html>