<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>What can I cook?</title>
</head>
<body>
<a th:href="@{/returnLoginPage}"><br>Войти в личный кабинет</br></a>
<a th:href="@{/returnSignUpPage}"><br>Зарегистрироваться</br></a>
<a th:href="@{/inputFieldsForSearchRecipesByIngredients}"><br>Поиск рецептов по имеющимся продуктам </br></a>
<a th:href="@{/inputFieldsForSearchRecipesByIngredient}"><br>Поиск рецептов, содержащих конкретный продукт</br></a>
<a th:href="@{/showAllRecipes}"><br>Посмотреть все рецепты</br></a>
<a th:href="@{/inputFieldForAdditionRecipe}"><br>Добавление рецепта</br></a>
<a th:href="@{/inputFieldForDeletionRecipe}"><br>Удаление рецепта</br></a>
<h2 th:text="${recipe}" ></h2>
<h3>Список ингредиентов:</h3>
<table>
    <tbody>
    <tr th:each="prod: ${list}">
        <ul>
            <td>
                <li
                        th:text="${prod}">
                </li>
            </td>
        </ul>
    </tr>
    </tbody>
</table>
<h3>Инструкция:</h3>
<p th:text="${instruction}" ></p>
<!--<form th:action="returnLoginPage">-->
    <!--<p><input type="submit" value="Назад"> </p>-->
<!--</form>-->
</body>
</html>

